@{
  Layout = "_Layout";
}

@model Factory.Models.Machine


<h4>Add a new machine to the factory</h4>

<p>@Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger", @style = "font-weight: 600"})</p>

<p>@Html.ValidationMessageFor(model => model.MachineDetails, "", new { @class = "text-danger", @style = "font-weight: 600"})</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)

  @Html.LabelFor(model => model.MachineDetails)
  @Html.TextBoxFor(model => model.MachineDetails)

  <input type="submit" value="Add new Machine" class="btn btn-default" />
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back to List of Machines", "Index")</p>
</div>