@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a Machine</h2>
<hr>
<br>

<h4>Add a machine that this engineer works on: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
}
<br>

<hr>
<div id="nav-links">
  <p>@Html.ActionLink("Back to List of Engineers", "Index")</p>
</div>